<div id="group-{{id}}" class="input-group {{name}} {{class}}">
  {{#if hasBlock}}
    {{yield (hash
      addon=(component 'input-group-addon'
        pre=pre
        post=post
        preIcon=preIcon
        postIcon=postIcon
      )
      pre=(component 'input-group-addon'
        pre=pre
        preIcon=preIcon
      )
      post=(component 'input-group-addon'
        post=post
        postIcon=postIcon
      )
      button=(component 'input-group-button'
        mood=(if mood mood buttonMood)
        title=(if button button buttonTitle)
        onClick=(action 'onPressed' 'block-form')
      )
     input=(component (concat type '-input')
        id=id
        type=type
        class=class
        placeholder=placeholder
        name=name
        value=value
        label=label
        disabled=disabled
        readonly=readonly
        autocomplete=autocomplete
        autofocus=autofocus
        form=form

        onBlur=onBlur
        onChange=onChange
        onSubmit=onSubmit
      )
    )}}
  {{else}}
    <b>NOTE:</b> currently the "input-group" component only supports the block format
  {{/if}}
</div>
