<h3>Passwords</h3>
<div class="row">
  <div class="col-xs-12 col-md-3">
    {{password-input
      placeholder='password'
      value=password
      showPassword=show
      onSecure=(action (mut security))
      onChange=(action (mut password))
    }}
    <p class="text-muted">
      <br>
      {{ui-toggle-button
        on='hide password'
        off='show password'
        size='small'
        value=show
        onToggle=(mut show)
      }}
    </p>
  </div>
  <div class="col-xs-12 col-md-3">
    <span>
      <pre><code class='handlebars'>\{{password-input
  placeholder='password'
  value=password
  showPassword=show
  onSecure=(action (mut security))
  onChange=(action (mut password))
}}</code></pre>
    </span>
  </div>
  <div class="col-md hidden-sm-down">
    {{#ui-markdown style='github'}}
      Passwords are mainly just text-inputs but with a few extra tricks up their sleeves. As you can see here, toggling the `showPassword` property allows a user to expose the password when typing if so desired. Furthermore, there is a gauge of password security.
    {{/ui-markdown}}
  </div>
</div>

<h3>Emails</h3>
<div class="row">
  <div class="col-xs-12 col-md-3">
    {{email-input
      placeholder='email address'
      value=email
      onValidation=(action (mut validity))
      onWarning=(action 'emailWarn')
      onChange=(action (mut email))
    }}
    <br>
    value: {{email}}, validation: {{validity.emailValidator.state}}

  </div>
  <div class="col-xs-12 col-md-3">
    <span>
      <pre><code class='handlebars'>\{{email-input
  placeholder='email address'
  value=email
  onValidation=(action (mut validity))
  onWarning=(action 'emailWarn')
  onChange=(action (mut email))
}}</code></pre>
    </span>
  </div>
  <div class="col-md hidden-sm-down">
    {{#ui-markdown style='github'}}
      Email's are also very closely related to the text-input but have a "onValidity" action which indicates whether the current value is a valid email address. Possible values are "empty", "valid", and "invalid".
    {{/ui-markdown}}
  </div>
</div>

<h3>Name Input</h3>
<div class="row">
  <div class="col-xs-12 col-md-3">
    {{name-input
      preIcon='user'
      value=name
      onBlur=(action (mut name))
    }}

    <br>

    {{name-input
      value=name2
      onChange=(action (mut name2))
    }}

    <p>
      name: <br>
      <pre><code>{{json name}}</code></pre>
    </p>
    <p>
      name2: <br>
      <pre><code>{{json name2}}</code></pre>
    </p>
  </div>
  <div class="col-xs-12 col-md-3">
    <pre><code class='handlebars'>\{{name-input
  preIcon='user'
  value=name
  onBlur=(action (mut name))
}}</code></pre>
<br>
<pre><code class='handlebars'>\{{name-input
  value=name2
  onChange=(action (mut name2))
}}</code></pre>

  </div>
  <div class="col-md hidden-sm-down">
    {{#ui-markdown style='github'}}
      While cutting your own name input dialog is easy enough it is common enough a pattern that we've built a
      container component to give you a structured first and last name input dialog.
    {{/ui-markdown}}
  </div>
</div>
