{{#demo-css}}
<h3>button-addon <span class='side-note'>component</span></h3>

<row>
  <widget>
    {{#input-wrapper size='large' as |wrap|}}
      {{text-input group=wrap}}
      {{button-addon title='submit' mood='success' group=wrap}}
    {{/input-wrapper}}
  </widget>
  <code>
    {{#display-component componentName='input-wrapper' as='wrap'}}
    {{display-component _indent=1 _dim=true componentName='text-input' group=':wrap'}}
    {{display-component _indent=1 _dim=true componentName='button-addon'
      title='phone'
      mood='success'
      group=':wrap'
    }}
    {{/display-component}}
  </code>
  <description>
    You can add an {{#link-to "demo-input-addon"}}<prop>input-addon</prop>{{/link-to}} in front or behind the input control and the formatting will work fluidly.<br/>
    In this case we're using the <i>inline</i> form of the control which proxies parameters to a <prop>ui-button</prop> control.
  </description>
</row>

<row>
  <widget>
    {{#input-wrapper size='large' as |wrap|}}
      {{text-input group=wrap}}
      {{#button-addon group=wrap as |b|}}
        {{ui-button
          title='submit'
          mood='success'
        }}
      {{/button-addon}}
    {{/input-wrapper}}
  </widget>
  <code>
    {{#display-component componentName='input-wrapper' as='wrap'}}
      {{display-component _indent=1 _dim=true componentName='text-input' group=':wrap'}}
      {{#display-component _indent=1 _dim=true componentName='button-addon'}}
        {{display-component _indent=2 _dim=true componentName='ui-button'
          title='phone'
          mood='success'
        }}
      {{/display-component}}
    {{/display-component}}
  </code>
  <description>
    This is the equivalent <i>block</i> form of the component. Of course you can do anything you like to paint the button in this form, no need to use <prop>ui-button</prop>
  </description>
</row>

{{/demo-css}}
