{{#demo-css}}
<h3>password-input <span class='side-note'>component</span></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        The <code>password-input</code> control is what it says on the tin ... a text-input control with a deep regard for keeping secrets.
        Hey we need secretive people and we need secretive controls. The symetry is hard not to blush at. Ok, so what precisely does this
        control do? Does it have any tricks up its sleeve?
    </desc>
    <desc>
        Of course the least hidden secret about this secretive control is that it uses a "type" of <strong>password</strong> which means that browsers are
        obliged to display asterisks, bullets, or something equally uninformative so all those people looking over your shoulder are baffled by your
        seemingly monotonous password. That's good. Well kind of. OS's like IOS have innovated here a bit by displaying the typed character briefly before falling
        back to the monotonous bullets. This gives the <em>inputter</em> (is that a word?) greater confidence that they've typed their secret password
        correctly. Nice and it would be nice to have on desktop clients too. Here's a write-up on how to achieve this for the desktop:

        <note><a href="https://css-tricks.com/better-password-inputs-iphone-style/">Better Password Inputs iPhone Style</a> - CSS Tricks</note>

        Ok, that's where we're going but as you'll see "atomic" HTML doesn't really support this strategy so it will have to be done in conjunction
        with the <prop>input-wrapper</prop> component. Ahh well. Feel free to get your pull-request pen out for this one if you haven't already.
        In the mean time, a boolean flag called
        <prop>showPassword</prop> is available which can toggle password visibility.
    </desc>
    <desc>
      Finally, the is a read-only property called <prop>passwordSecurity</prop> which indicates how strong the password is.
    </desc>
</div>

<row>
  <widget>
    {{password-input
      placeholder='password-input'
      showPassword=showPassword
      passwordSecurity=passwordSecurity
    }}
    <p class='text-center'>
      <br/>
      {{ui-toggle-button on='Show' off='Hide' value=showPassword}}
    </p>
  </widget>
  <code>
    {{display-component
      componentName='password-input'
      placeholder='password-input'
      showPassword=showPassword
    }}
  </code>
  <description>
    <p>
      This illustrates the basics of the password input. If you want more details, refer to the
      {{#link-to 'demo-text-input'}}<prop>text-input</prop>{{/link-to}} demo.
    </p>
    <p>&nbsp;</p>
    {{#if passwordSecurity.strength}}
        {{passwordSecurity.strength}}<br/>
        <span class="text-muted">broken in {{passwordSecurity.SHA1}} using SHA1, 16 core machine</span>
    {{else}}
        [stength not yet determined]<br/>
        &nbsp;
    {{/if}}
  </description>
</row>
{{/demo-css}}