<h3>Component::helper::<code>input-screen-reader</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
       The <code>input-screen-reader</code> component allows for context text to be placed into the page while remaining invisible to 
       normal browsers in order to assist screen reader devices. 
   </desc>
</div>

<h4>Example(s)</h4>

<examples>
    <widget>
        {{#input-wrapper class='inline-example' size='large' prefixIcon='eye' sr=sr}}
            {{text-input placeholder='input-control' }} 
        {{/input-wrapper}}
    </widget>
    <sourcecode>
        {{#code-block language="handlebars" poll=100}}
\{{! INLINE EXAMPLE }}
\{{#input-wrapper size='large' prefixIcon='eye' sr='{{sr}}'}}
    \{{text-input placeholder='input-control' }} 
\{{/input-wrapper}}
        {{/code-block}}         
    </sourcecode>
</examples>

<examples>
    <widget>
        {{#input-wrapper class='block-example' size='large' as |wrapper|}}
            {{#input-group containedBy=wrapper}}
                {{input-addon icon="eye"}}
                {{text-input placeholder='input-control'}} 
            {{/input-group}}
            {{#input-screen-reader}}{{sr}}{{/input-screen-reader}}
        {{/input-wrapper}}
    </widget>
    <sourcecode>
        {{#code-block language="handlebars" poll=100}}
\{{! BLOCK EXAMPLE }}
\{{#input-wrapper class='block-example' size='large' as |wrapper|}}
    \{{#input-group containedBy=wrapper}}
        \{{input-addon icon="eye"}}
        \{{text-input placeholder='input-control'}} 
    \{{/input-group}}
    \{{#input-screen-reader}}{{sr}}\{{/input-screen-reader}}
\{{/input-wrapper}}
        {{/code-block}}         
    </sourcecode>
</examples>

<configuration>
    <icon>{{icon-cog size="2x"}}</icon>
    <config>
        <columns>
            <column>
                Screen Reader Text:            
                {{text-input width='80%' value=sr}}<br/>
            </column>
        </columns>
    </config>
</configuration>
<p>&nbsp;</p>
<examples>
    <widget>
        The HTML source for the <strong>inline</strong> example is as seen on the right.
    </widget>
    <sourcecode>
        {{dom-reference ref='.inline-example' poll=300}}
    </sourcecode>
</examples>

<examples>
    <widget>
        The HTML source for the <strong>block</strong> example is as seen on the right.
    </widget>
    <sourcecode>
        {{dom-reference ref='.block-example' poll=300}}
    </sourcecode>
</examples>