<h3>Component::<code>password-input</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        The <code>password-input</code> control is what it says on the tin ... a text-input control with a deep regard for keeping secrets. 
        Hey we need secretive people and we need secretive controls. The symetry is hard not to blush at. Ok, so what precisely does this 
        control do? Does it have any tricks up its sleeve?
    </desc>
    <desc>
        Of course the least hidden secret about this secretive control is that it uses a "type" of <strong>password</strong> which means that browsers are 
        obliged to display asterisks, bullets, or something equally uninformative so all those people looking over your shoulder are baffled by your 
        seemingly monotonous password. That's good. Well kind of. OS's like IOS have innovated here a bit by displaying the typed character briefly before falling
        back to the monotonous bullets. This gives the <em>inputter</em> (is that a word?) greater confidence that they've typed their secret password 
        correctly. Nice and it would be nice to have on desktop clients too. Here's a write-up on how to achieve this for the desktop:
        
        <note><a href="https://css-tricks.com/better-password-inputs-iphone-style/">Better Password Inputs iPhone Style</a> - CSS Tricks</note>
        
        Ok, that's where we're going but as you'll see "atomic" HTML doesn't really support this strategy so it will have to be done in conjunction 
        with the <code>input-wrapper</code> component. Ahh well. Feel free to get your pull-request pen out for this one if you haven't already.
    </desc>
    <desc>
        In the mean time, a very simple way to provide some additional <em>goodness</em> (if that's a word) is there is a boolean flag called
        <code>showPassword</code> which can toggle password visibility. 
    </desc>
</div>

<h4>Example</h4>
<div class="row">
    <p class="descriptive col-xs-12">
        Have fun playing around with this text input control. The variables listed are not a complete list but hopefully representative enough you can get 
        a strong feeling for this component.
    </p>        
</div>


<div class="examples">
    <table class="row">
        <tr>
            <td class="col-xs-5">
                {{#code-block language="handlebars" poll=5002}}
\{{password-input 
    {{#if size}}size='{{size}}' 
    {{/if}}{{#if width}}width='{{width}}' 
    {{/if}}{{#if height}}height='{{height}}'
    {{/if}}{{#if textAlign}}textAlign='{{textAlign}}'
    {{/if}}{{#if placeholder}}placeholder='password-input' 
    {{/if}}{{#if style}}style='{{style}}'
    {{/if}}{{#if color}}color='{{color}}'
    {{/if}}{{#if textColor}}textColor='{{textColor}}'
    {{/if}}{{#if backgroundColor}}backgroundColor={{backgroundColor}}
    {{/if}}{{#if borderColor}}borderColor='{{borderColor}}'
    {{/if}}{{#if outlineColor}}outlineColor='{{outlineColor}}'
    {{/if}}{{#if animateFocusIn}}animateFocusIn='{{animateFocusIn}}'
    {{/if}}{{#if animateMouseEnter}}animateMouseEnter='{{animateMouseEnter}}'
    {{/if}}{{#if animateMouseClick}}animateMouseClick='{{animateMouseClick}}'
    {{/if}}{{#if animateSubmit}}animateSubmit='{{animateSubmit}}'
    {{/if}}{{#if animateChange}}animateChange='{{animateChange}}'
    {{/if}}{{#if animateRuleLengthLimit}}animateRuleLengthLimit='{{animateRuleLength}}'
    {{/if}}{{#if animateRuleLengthWarn}}animateRuleLengthWarn='{{animateRuleLength}}'
    {{/if}}{{#if rules}}rules={{_rules}}
    {{/if}}{{#if length}}length=length
    {{/if}}{{#if showPassword}}showPassword=showPassword
    {{/if}}passwordSecurity=strength
}}   
                {{/code-block}}         
            </td>
            <td class="col-xs-7 text-center align-middle">
                {{password-input 
                    size=size 
                    width=width 
                    height=height
                    textAlign=textAlign 
                    placeholder='password-input' 
                    style=style
                    color=color
                    textColor=textColor
                    backgroundColor=backgroundColor
                    borderColor=borderColor
                    outlineColor=outlineColor
                    animateFocusIn=animateFocusIn
                    animateMouseEnter=animateMouseEnter
                    animateMouseClick=animateMouseClick
                    animateSubmit=animateSubmit
                    animateChange=animateChange
                    animateRuleLengthLimit=animateRuleLength
                    animateRuleLengthWarn=animateRuleLength
                    rules=_rules
                    length=length
                    defaultRules=defaultRules
                    passwordSecurity=strength
                    showPassword=showPassword
                }}
                {{ui-toggle-button value=showPassword on="Hide" off="Show" size=size}}
                
                <p>&nbsp;</p>
                {{#if strength.strength}}
                    {{strength.strength}}<br/>
                    <span class="text-muted">broken in {{strength.SHA1}} using SHA1, 16 core machine</span>
                {{else}}
                    [stength not yet determined]<br/>
                    &nbsp;
                {{/if}}
            </td>
        </tr>
    </table>
</div>
<p></p>
<div class="configuration col-xs-12">
    <div class="config-icon col-xs-1">{{icon-cog size="2x"}}</div>
    <div class="config-section col-xs-11">
        <span class="col-xs-9">
            Length: {{number-input value=length size='small' width='60px'}} &nbsp;&nbsp; * translates into HTML's "{{#link-to 'shared-size'}}size{{/link-to}}"
            <p></p>
            Rules: {{ui-button-radio size='small' choices='none,lengthRequirement' selected=rules}}&nbsp;&nbsp;&nbsp;
            Default Rules: {{defaultRules}}
            <p></p>
            <hr/>
            Size: {{ui-button-radio size='small' choices='tiny,small,default,large,huge' selected=size}}
            Width: {{text-input size='small' value=width width='60px'}} 
            Height: {{text-input size='small' value=height width='60px'}} <br/>
            <p></p>
            Style:
            {{ui-button-radio size='small' choices='bootstrap,flat' selected=style}} &nbsp;&nbsp;
            Text Alignment: 
            {{ui-button-radio size='small' choices='left,center,right' selected=textAlign}}
            <p></p>
            <hr/>
            Color Class:            
            {{ui-button-radio size='small' choices='default,success,info,primary,warning,error' selected=color}}
            <p></p>
            Color (using style props):
            <p></p>
            Text: {{text-input width='85px' size='tiny' style='flat' textAlign='center' value=textColor}} &nbsp;
            Back: {{text-input width='85px' size='tiny' style='flat' textAlign='center' value=backgroundColor}} &nbsp;
            Border: {{text-input width='85px' size='tiny' style='flat' textAlign='center' value=borderColor}} &nbsp;
            Outline: {{text-input width='85px' size='tiny' style='flat' textAlign='center' value=outlineColor}} &nbsp;
            
            
        </span>
        <span class="col-xs-3 text-right">
            <strong>Animation Rule Events</strong>
            <hr/>
            length:
            {{text-input width='42%' size='tiny' value=animateRuleLength}}<br/>
            invalidEmail:
            {{text-input width='42%' size='tiny' value=animateRuleInvalidEmail}}<br/>
            <p>&nbsp;<br/></p>
            <strong>Animation Other Events</strong>
            <hr/>
            focusIn:
            {{text-input width='42%' size='tiny' value=animateFocusIn}}<br/>
            mouseEnter:
            {{text-input width='42%' size='tiny' value=animateMouseEnter}}<br/>
            mouseClick:
            {{text-input width='42%' size='tiny' value=animateMouseClick}}<br/>
            submit:
            {{text-input width='42%' size='tiny' value=animateSubmit}}<br/>
            change:
            {{text-input width='42%' size='tiny' value=animateChange}}<br/>
            
        </span>
    </div>
</div>


