<h3>Shared Property::<code>color</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        Color is important and there are many facets to consider. The first one is that Bootstrap has avoided -- strictly 
        speaking -- the inclusion of their standard default/success/info classes to the atomic 'input' component. Instead they 
        have a set of <code>has-</code> classes which effect color at the "group level". To find out more about this 
        look at the {{#link-to 'input-wrapper'}}<code>input-wrapper</code>{{/link-to}} component which mimics styling
        at the group level.
    </desc>
    <desc>
        This section will be exclusively how one can control color at the atomic level. In order to do this we've added a 
        set of color classes which cut across the style families (aka, 'bootstrap', 'flat'). They use standard Bootstrap-like
        nominclature:
        
       <ul>
           <li>default</li>
           <li>success</li>
           <li>info</li>
           <li>primary</li>
           <li>warning</li>
           <li>error</li>
       </ul>

       The idea is to have each of these classes set a representative text color, text background, and border color that 
       fit together. You'll find these classes defined in "ui-input.css" but because they are in CSS (not SCSS or LESS) they 
       do not benefit from any color parameters you may have set. In the future we hope to address this and would hapily accept
       a PR for this if you have the inclination to solve this. Also -- as you'll see in the example section below -- you can 
       choose between setting <code>color</code> and <code>focusColor</code> where <em>focusColor</em> only take effect when 
       the control has focus. 
   </desc>
   <desc>
       Furthermore, if you want to step into greater control there are some additional color parameters which step past
       the "class" and give you direct control with "style" elements. These controls are:
       
      <ul>
          <li><code>textColor</code> - yup, the text color of the placeholder and input text</li>
          <li><code>backgroundColor</code> - the background color of the control</li>
          <li><code>borderColor</code> - the color of the control's border</li>
          <li><code>outlineColor</code> - the outline color around a control when it has focus</li>
      </ul> 
   </desc>
    <desc>
       Remember that in many situations the color control here may be better left alone in favor of wrapping the control
       into a group (using {{#link-to 'input-wrapper'}}<code>input-wrapper</code>{{/link-to}}) where you can use 
       Bootstrap's normal <code>has-</code> CSS classes (which <em>will</em> react to your 
       variable settings).
    </desc>        
</div>

<h4>Related Properties</h4>
<div class="row">
    <desc>
        It's worth noting that another visual element that can be manipulated at both the atomic and group level is 
        the concept of "status". Status is 
    </desc>
</div>

<h4>Example(s)</h4>

<div class="configuration col-xs-12">
    <div class="config-icon col-xs-1">{{icon-cog size="2x"}}</div>
    <div class="config-section col-xs-11">
        <span class="col-xs-7">Color Class:            
            {{ui-button-radio size='small' choices='default,success,info,primary,warning,error' selected=myClassColor}}<br/>
        </span>
        <span class="col-xs-5 text-right">
            Text Color:
            {{text-input width='55%' size='small' value=textColor}}<br/>
            Background Color:
            {{text-input width='55%' size='small' value=backColor}}<br/>
            Border Color:
            {{text-input width='55%' size='small' value=borderColor}}<br/>
            Outline Color:
            {{text-input width='55%' size='small' value=outlineColor}}<br/>
        </span>
        <p>&nbsp;</p>
        <span class="col-xs-12">Style: 
            {{ui-button-radio size='small' choices='bootstrap,flat' selected=myStyle}}
        </span>
    </div>
</div>
<br/>
<hr/>

<div class='examples col-xs-12'>
    <div class="row">
        <div class="widget col-xs-4">
            Class Color
            {{text-input size='huge' placeholder='Classy' style=myStyle color=myClassColor}} 
        </div>
        <div class="handlebars col-xs-8">
            <br/>
            <code> \{{text-input color='{{myClassColor}}' size='huge' placeholder='Classy' style='{{myStyle}}'}}</code>  
        </div>
    </div>    
    <div class="row">
        <div class="widget col-xs-4">
            Focused Class Color
            {{text-input size='huge' placeholder='Focused Class' style=myStyle focusColor=myClassColor}} 
        </div>
        <div class="handlebars col-xs-8">
            <br/>
            <code> \{{text-input focusColor='{{myClassColor}}' size='huge' placeholder='Focused Class' style='{{myStyle}}'}}</code>  
        </div>
    </div>    
    <div class="row">
        <div class="widget col-xs-4">
            Style Color
            {{text-input textColor=textColor backgroundColor=backColor borderColor=borderColor outlineColor=outlineColor size='huge' placeholder='Stylistic' style=myStyle color=myStyleColor}} 
        </div>
        <div class="handlebars col-xs-8">
            <br/>
            <code> 
                \{{text-input textColor='{{textColor}}' backgroundColor='{{backColor}}' borderColor='{{borderColor}}' outlineColor=outlineColor <br/> 
                &nbsp;&nbsp;&nbsp;&nbsp;size='huge' color='{{myStyleColor}}' placeholder='Stylistic' style='{{myStyle}}'}}</code>  
        </div>
    </div>    

</div>
