<h3>Shared Property::<code>status</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
       The "status" of an atomic input control is a visual representation about some aspect of the <em>state</em> of the 
       control. The supported states are:
       <ul>
           <li>default</li>
           <li>success</li>
           <li>warning</li>
           <li>error</li>
           <li>info</li>
       </ul>

       Because we only have stylistic license to work on the actual HTML 'input' element there are a limited set of ways
       to provide visual fluerishes. For those of you wanting greater expression check out the 
       {{#link-to 'input-wrapper'}}<code>input-wrapper</code>{{/link-to}}.
   </desc>
</div>

<h4>Example(s)</h4>

<div class="configuration col-xs-12">
    <div class="config-icon col-xs-1">{{icon-cog size="2x"}}</div>
    <div class="config-section col-xs-11">
        <span class="col-xs-6">Choose Style:            
            {{ui-button-radio choices='bootstrap,flat' selected=myStyle}}<br/>
        </span>
        <span class="col-xs-6">Choose Alignment:
            {{ui-button-radio choices='left,center,right' selected=myAlignment}}<br/>
        </span>
    </div>
</div>
<br/>
<hr/>

<div class='examples col-xs-12'>
    <div class="row">
        <div class="widget col-xs-3">
            Success
            {{text-input status='success' placeholder='success' textAlign=myAlignment style=myStyle}} 
        </div>
        <div class="handlebars col-xs-9">
            <br/>
            <code> \{{text-input status='success' placeholder='size matters' textAlign='{{myAlignment}}' style='{{myStyle}}'}}</code>  
        </div>
    </div>    
    <div class="row">
        <div class="widget col-xs-3">
            Info
            {{text-input status='info' placeholder='info'  textAlign=myAlignment style=myStyle}} 
        </div>
        <div class="handlebars col-xs-9">
            <br/>
            <code> \{{text-input status='info' placeholder='size matters' textAlign='{{myAlignment}}' style='{{myStyle}}'}} </code>  
        </div>
    </div>
    <div class="row">
        <div class="widget col-xs-3">
            Warning
            {{text-input status='warning' placeholder='warning' textAlign=myAlignment style=myStyle}} 
        </div>
        <div class="handlebars col-xs-9">
            <br/>
            <code> \{{text-input status='warning' placeholder='size matters' textAlign='{{myAlignment}}' style='{{myStyle}}'}} </code>  
        </div>
    </div>
    <div class="row">
        <div class="widget col-xs-3">
            Error
            {{text-input status='error' placeholder='error'  textAlign=myAlignment style=myStyle}} 
        </div>
        <div class="handlebars col-xs-9">
            <br/>
            <code> \{{text-input status='error' placeholder='size matters' textAlign='{{myAlignment}}' style='{{myStyle}}'}} </code>  
        </div>
    </div>
</div>
