<h3>Shared Property::<code>animate</code></h3>

<h4>Overview</h4>
<div class="row">
    <desc>
        Secretly you love animation right? If you just said "no" you should now ask yourself ... why do I lie to myself?
        Come on we all love it. Yes it's a guilty pleasure and its easily overdone but that doesn't mean it isn't 
        amazingly cool. It is. With that lead-in its likely no surprise that <strong>ui-input</strong> supports animation. 
        Yippie. So how does it work? Thought you'd never ask. 
    </desc>
    <desc>
        First off, while there are cool JS technologies like Velocity and great animation frameworks for Ember like 
        Liquid Fire what we're trying to achieve is quite isolated and doesn't need anything super fancy. For this 
        reason we've gone with CSS animations. This plays well with a broader page or section-level animation strategy
        using Liquid Fire or whatever you like. This package assumes the availability of the great CSS animation 
        library <a href="http://daneden.github.io/animate.css/" target="_new"><strong>Animate.css</strong></a>. 
        See the config section for more details on how to optimise this.
    </desc>

</div>

<h4>Usage</h4>
<div class="row">
    <desc>
        The basic idea is you bind to the <code>animate</code> property which has a default value of <em>null</em>. 
        When you want to execute an animation on the control just set the property to <em>true</em> and it will animate, 
        returning to the <em>null</em> state when done. When setting to <em>true</em> you will get the default animation
        but if you want to control which animation you want to use then just specify a string value of the animation 
        effect. Play with the example to get a feeling for it.
    </desc>
    <desc>
        Another way to use the animations features is to hook an animation into a specific lifecycle event. The events available 
        include:
        <column class="col-xs-6">
        <ul>
            <li><code>enabled</code> - when control becomes <em>enabled</em> from a disabled state</li>
            <li><code>disabled</code> - when control becomes <em>disabled</em> from an enabled state</li>
        </ul>
        </column>
        <column class="col-xs-3">
            <ul>
                <li><code>change</code> </li>
                <li><code>input</code> </li>
                <li><code>submit</code> </li>
            </ul>
        </column>
        <column class="col-xs-3">
            <ul>
                <li><code>focusIn</code> </li>
                <li><code>focusOut</code> </li>
                <li><code>MouseEnter</code> </li>
                <li><code>MouseDown</code> </li>
                <li><code>MouseLeave</code> </li>
            </ul>
        </column>
        
        Setting them is as simple as setting a property to the name of the animation you want and where the name of the animation is 
        defined as: [animate][(event).capitalize()]. So for instance, making a focusIn event trigger a "tada" effect would
        be accomplished with:
        
        <code>\{{text-input animateFocusIn='tada'}}</code>
    </desc>
</div>

<h4>Example(s)</h4>

<div class="configuration col-xs-12">
    <div class="config-icon col-xs-1">{{icon-cog size="2x"}}</div>
    <div class="config-section col-xs-11">
        <span class="col-xs-5">Choose an animation effect: <br/>          
            {{ui-button title='default' action="animateMe" param=true}}
            {{ui-button title='tada' action="animateMe" param='tada'}}
            {{ui-button title='swing' action="animateMe" param='swing'}}
            {{ui-button title='wobble' action="animateMe" param='wobble'}}
        </span>
        <span class="col-xs-4">
            Button Enabled/Disabled:<br/>
            {{ui-toggle-button value=buttonStatus onIcon='circle-thin' offIcon='dot-circle-o' on='Disable' off='Enabled'}}
        </span>
        <span class="col-xs-3 ">
            Style: <br/>
            {{ui-buttons choices='bootstrap,flat' selected=style}}
        </span>
    </div>
</div>
<br/>

<div class='examples col-xs-12'>
    <div class="row">
        <div class="widget col-xs-4 text-center">
            {{text-input animate=focus1 animateFocusIn='tada' animateFocusOut='wobble' size='large' textAlign='center' placeholder='Focused' width='38%' style=style }} 
            {{text-input animate=focus2 animateFocusIn='tada' animateFocusOut='wobble' size='large' textAlign='center' placeholder='Focused' width='38%' style=style }} 
        </div>
        <div class="handlebars col-xs-8">
            Current Animation: {{focus1}}, {{focus2}}
            <br/>
            <code> \{{text-input animateFocusIn='tada' animateFocusOut='wobble' textAlign='center' placeholder='Enter' style='{{style}}' size='large' width='38%'}}</code>  
        </div>
    </div>    
    <div class="row">
        <div class="widget col-xs-4 text-center">
            {{text-input size='huge' textAlign='center' placeholder='I wanna dance' width='75%' style=style animate=myAnimation}} 
        </div>
        <div class="handlebars col-xs-8">
            <br/>
            <code> \{{text-input animate={{quotedMyAnimation}} textAlign='center' placeholder='I wanna dance' style='{{style}}' size='huge' width='75%'}}</code>  
        </div>
    </div>    
    <div class="row">
        <div class="widget col-xs-4 text-center">
            {{text-input size='huge' disabled=buttonStatus animateDisabled='rubberBand' animateEnabled='bounce' textAlign='center' placeholder='Disability' width='75%' style=style}} 
        </div>
        <div class="handlebars col-xs-8">
            <br/>
            <code> \{{text-input animateDisabled='rubberBand' animateEnabled='bounce' disabled={{buttonStatus}} textAlign='center' placeholder='Disability' style='{{style}}' size='huge' width='75%'}}</code>  
        </div>
    </div>    
</div>
